<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Create Snippet</title>
  <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
      <div class="clearFloat"></div>
  <h1>Create a snippet</h1>

  
  <div class="clearFloat"></div>
  <div class="sqlpic"></div>

  <form class="" action="/createSnippet" method="post">
    <div>
      <label class="addCodeLabel" for="title">Title:</label>
    </div>
    <div>
      <input class="addCodeInput" type="text" name="title" value="" placeholder="Title of Snippet">
    </div>
    <div>
      <label class="addCodeLabel" for="code">Snippet Code:</label>
    </div>
    <div>
      <textarea type="text" rows="4" cols="40" name="code" value="" placeholder="Snippet code"></textarea>
    </div>
    <div>
      <label class="addCodeLabel" for="language">Language:</label>
    </div>
    <div>
      <input class="addCodeInput" type="text" name="language" value="" placeholder="Language code is written in">
    </div>
    <div>
      <label class="addCodeLabel" for="tags">Tags:</label>
    </div>
    <div>
      <input class="addCodeInput" type="text" name="tags" value="" placeholder="Enter tags separated by a space">
    </div>
    <div>
      <label class="addCodeLabel" for="notes">Notes:</label>
    </div>
    <div>
      <textarea name="notes" rows="5" cols="80" placeholder="Notes on code"></textarea>
    </div>
    <div>
      <input type="submit" name="" value="Submit">
    </div>
  </form>
</body>

</html>
