<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Create Snippet</title>
  <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
  <h1>Create a snippet</h1>

  <header>

    <form class="float" action="/snippets" method="get">
      <input type="submit" name="" value="Snippet">
    </form>

    <form class="float" action="/createSnippet" method="get">
      <input type="submit" name="" value="Create a Snippet">
    </form>

    {{#username}}
      <form class="float" action="/signup" method="get">
        <input type="submit" name="" value="Logged in as {{username}}">
      </form>
    {{/username}}

    {{#signedIn}}
      <form class="float" action="/login" method="get">
        <input type="submit" name="" value="Log out">
      </form>
    {{/signedIn}}

    {{^signedIn}}
    <form class="float" action="/login" method="get">
      <input type="submit" name="" value="Log in">
    </form>
    {{/signedIn}}

  </header>
  <div class="clearFloat"></div>

  <form class="" action="/createSnippet" method="post">
    <div>
      <label for="title">Title</label>
      <input class="addCodeForm" type="text" name="title" value="" placeholder="Title of Snippet">
    </div>
    <div>
      <label for="code">Snippet Code</label>
      <textarea type="text" rows="4" cols="40" name="code" value="" placeholder="Snippet code"></textarea>
    </div>
    <div>
      <label for="language">Language</label>
      <input class="addCodeForm" type="text" name="language" value="" placeholder="Snippet language">
    </div>
    <div>
      <label for="tags">Tags</label>
      <input class="addCodeForm" type="text" name="tags" value="" placeholder="Enter tags separated by a space">
    </div>
    <div>
      <label for="notes">Notes</label>
      <textarea name="notes" rows="5" cols="80" placeholder="Notes on code"></textarea>
    </div>
    <div>
      <input type="submit" name="" value="Submit">
    </div>
  </form>
</body>

</html>
