<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Snippet home</title>
  <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
  <h1>Welcome to the snippet page</h1>

  <header>

    <form class="float" action="/snippets" method="get">
      <input type="submit" name="" value="Snippet">
    </form>

    <form class="float" action="/createSnippet" method="get">
      <input type="submit" name="" value="Create a Snippet">
    </form>

    {{#username}}
      <form class="float" action="/signup" method="get">
        <input type="submit" name="" value="Logged in as {{username}}">
      </form>
    {{/username}}

    {{#signedIn}}
      <form class="float" action="/login" method="get">
        <input type="submit" name="" value="Log out">
      </form>
    {{/signedIn}}

    {{^signedIn}}
    <form class="float" action="/login" method="get">
      <input type="submit" name="" value="Log in">
    </form>
    {{/signedIn}}
</header>
    <div class="clearFloat"></div>

    {{#model}}
      <ul>
        <li>Title: {{title}}</li>
        <li>Code: <span><pre>{{code}}</pre></span></li>
        <li>Language: {{language}}</li>
        <li>Tags: </li>
        {{#tags}}
          <li>{{name}}</li>
        {{/tags}}

      </ul>

      <form class="" action="/snippets/{{id}}" method="get" id="{{id}}">
        <input type="submit" name="" value="">Click to see additional info on this snippet
      </form>
    {{/model}}

    <form class="" action="/tags" method="get">
      <input class="search" type="text" name="tag" value="" placeholder="Enter a tag to search by">
      <button type="submit" name="" value="">Search</button>
    </form>

    <form class="" action="/language" method="get">
      <input class="search" type="text" name="language" value="" placeholder="Enter a language to search by">
      <button type="submit" name="" value="">Search</button>
    </form>


</body>

</html>
