<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/static/styles.css">

</head>
  <body>

    <header>

      <form class="float" action="/snippets" method="get">
        <input type="submit" name="" value="Snippet">
      </form>

      <form class="float" action="/createSnippet" method="get">
        <input type="submit" name="" value="Create a Snippet">
      </form>

      {{#username}}
        <form class="float" action="/signup" method="get">
          <input type="submit" name="" value="Logged in as {{username}}">
        </form>
      {{/username}}

      {{#signedIn}}
        <form class="float" action="/login" method="get">
          <input type="submit" name="" value="Log out">
        </form>
      {{/signedIn}}

      {{^signedIn}}
      <form class="float" action="/login" method="get">
        <input type="submit" name="" value="Log in">
      </form>
      {{/signedIn}}

    </header>
    {{{yield}}}




  </body>
</html>
