<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/static/styles.css">

</head>
<body>

<div class="clearFloat"></div>

<div class="sqlpic"></div>

<!-- error msg -->
{{req.session.error}}
  <form class="login" action="/login" method="post">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" value="">
    </div>
    <div>
      <label for="">Password</label>
      <input type="password" name="password" value="">
    </div>
    <input type="submit" name="" value="Enter">
  </form>

  <h4>Don't have a username? Click here to sign up!</h4>
  <form class="" action="/signup" method="get">
    <input type="submit" name="" value="Sign up">
  </form>

<!-- <div class="matrixpic"> -->
</div>

</body>

</html>
