<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Snippet home</title>
  <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
  <h1>Welcome to the snippet page</h1>

  <header>

    <form class="float" action="/snippets" method="get">
      <input type="submit" name="" value="Snippet">
    </form>

    <form class="float" action="/createSnippet" method="get">
      <input type="submit" name="" value="Create a Snippet">
    </form>

    {{#username}}
      <form class="float" action="/signup" method="get">
        <input type="submit" name="" value="Logged in as {{username}}">
      </form>
    {{/username}}

    {{#signedIn}}
      <form class="float" action="/login" method="get">
        <input type="submit" name="" value="Log out">
      </form>
    {{/signedIn}}

    {{^signedIn}}
    <form class="float" action="/login" method="get">
      <input type="submit" name="" value="Log in">
    </form>
    {{/signedIn}}
</header>
    <div class="clearFloat"></div>

    {{#model}}
    {{#result}}
      <ul>
        <li>Title: {{title}}</li>
        <li>Code: {{code}}</li>
        <li>Language: {{language}}</li>
        <li>Tags: </li>
        {{#tags}}
          <li>{{name}}</li>
        {{/tags}}
        {{#notes}}
          <li>Notes: {{notes}}</li>
        {{/notes}}
      </ul>
      {{/result}}
    {{/model}}

    <form class="" action="/tags/:tag" method="get">
      <input class="search" type="text" name="tag" value="" placeholder="Enter a tag to search by">
      <input type="submit" name="tags" value="Submit">
    </form>

    <form class="" action="/language/:language" method="get">
      <input type="text" name="language" value="" placeholder="Enter a language to search by">
      <input type="submit" name="" value="Submit">

    </form>


  <div class="clearFloat"></div>
</body>

</html>
