<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Snippet home</title>
  <link rel="stylesheet" href="/static/styles.css">

</head>

<body>

    <div class="clearFloat"></div>
    <div class="sqlpic"></div>

  <h1>Search Results:</h1>


    {{#searchBy}}<h1>Search by: {{tagSearch}}{{languageSearch}}</h1>{{/searchBy}}


    {{#model}}

      <h3>Title: {{title}}</h3>
        <h3>Code: <span><pre>{{code}}</pre></span></h3>
        {{#languageSearch}}
      <h4>Language: {{language}}</h4>
        {{/languageSearch}}
      {{#tagSearch}}<h4>Tags: </h4>
        {{#tags}}
        <ul>
          <li>{{name}}</li>
            </ul>
        {{/tags}}
        {{/tagSearch}}
      <h4>Notes: {{notes}}</h4>

<div class="dividingLine">

</div>


    {{/model}}

    <form class="" action="/tags" method="get">
      <input class="search" type="text" name="tag" value="" placeholder="Enter a tag to search by">
      <button type="submit" name="" value="">Search</button>
    </form>

    <form class="" action="/language" method="get">
      <input class="search" type="text" name="language" value="" placeholder="Enter a language to search by">
      <button type="submit" name="" value="">Search</button>

    </form>


  <div class="clearFloat"></div>
</body>

</html>
