body{
  background-image: url('./grey-patterned-bg.jpg');
  background-size: cover;
  margin: 100px 150px;
}
/*Navigation at top*/
form{
  margin-bottom: 10px;
}
input{
  margin-bottom: 10px;
}

.float{
  float: left;
}
.clearFloat{
  clear:left;
}

.addCodeLagel{
  display: inline-block;
}

.addCodeInput{
    width: 250px;
}

.search{
  width: 200px;
}

.dividingLine{
  border-top: 2px solid #000;
  width: 60%;
  padding: 15px 0;
}

.sqlpic{
  width: 50%;
  height: 250px;
  background-image: url("./sql_code_pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}
